PORT=3000
GOODREADS_KEY=placeholder
GOODREADS_SECRET=placeholder
GITHUB_TOKEN=placeholder
GITHUB_USERNAME="vuomik"
GITHUB_REPO="mike-ddm-test"
IMAGE_NAME="mike-ddm-app-prod"
IMAGE_TAG="latest"
FLY_API_TOKEN=placeholder
FLY_APP_NAME="mike-ddm-app"
GHCR_REGISTRY="ghcr.io